.actions {
  display: flex;
  gap: 2px;
  height: 24px;
}

.action {
  width: 24px;
  min-width: 24px;
  height: 24px;
  padding: 0 2px;
  border-radius: 9999px;
  color: lch(66 1 282);
}

.icon,
.editingIcon,
.cancelIcon {
  width: 12px !important;
  height: 12px !important;
}

.editingBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 26.5px;
  padding-bottom: 4px;
  color: lch(40 1 282);
  font-size: 12px;
  font-weight: 500;
  line-height: 14.5px;
}

.editingLabel {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 22.5px;
  padding: 4px 4px 4px 8px;
}

.editingIcon {
  flex: 0 0 auto;
  stroke-width: 1.7;
}

.cancel {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  padding: 0 2px;
  border: 0.5px solid transparent;
  border-radius: 9999px;
  color: lch(40 1 282);
}

.compactEditingBar .cancel {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 8px;
}

.compactEditingBar .cancelIcon {
  width: 8px !important;
  height: 8px !important;
}

.cancelIcon {
  stroke-width: 1.7;
}
